%h2 Details
<div id="myfirstchart" style="height: 250px;">
 
</div>
- if @repos
  Repositories of:
  %b 
  =@user.name 
 
  
  - @repos.each do |repo|
    %br
    =repo.name
- if @contribs
  Contributors are:
  - @contribs.each do |contributors|
    %b
    
    =contributors.login
  
