%h2 Details
%br
  = content_tag :div, '', id: 'container',  data: {contr:@array1}
  = content_tag :div, '', id: 'repo_chart', data: {ydata:@ydata,xdata: @xdata}
- if @repos
  Repositories of:
  %b 
  =@user.name 
  
  - @repos.each do |repo|
    %br
    =repo.name
- if @contribs
  Contributors are:
  - @contribs.each do |contributors|
    %b
    
    =contributors.login

