%h2 Details
%br
  = content_tag :div, '', id: 'container',  data: {contr:@array1}
  = content_tag :div, '', id: 'repo_chart', data: {ydata:@ydata,xdata: @xdata}
  = content_tag :div, '', id: 'container2', data: {pie:@labeldata}
- if @repos
  Repositories are:
  - @repos.each do |repo|
    %br
    =repo.name
- if @contribs
  Contributors are:
  - @contribs.each do |contributors|
    %b

    =contributors.login

