%h2 Details
%br
  = content_tag :div, '', id: 'repo_chart', height: 500, data: {repo: @array}

- if @repos
  Repositories of:
  %b 
  =@user.name 
  
  - @repos.each do |repo|
    %br
    =repo.name
- if @contribs
  Contributors are:
  - @contribs.each do |contributors|
    %b
    
    =contributors.login

